.admin__main {
  padding: 20px;
  &__header {
    margin-bottom: 20px;
    &__title {
      font-size: 20px;
      font-weight: bold;
      color: var(--text-blue);
      margin-bottom: 20px;
    }
    &__tools {
      display: flex;
      justify-content: space-between;
    }
  }
  &__table {
    .time {
      font-weight: bold;
    }
    .sj_code {
      font-weight: bold;
    }
    .lecturers {
      color: blue;
      font-size: 16px;
    }
    .action {
      padding: 0 8px;
      & > span {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}
