.logo {
  background-color: white;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: bold;
    color: rgb(13, 41, 113);
    font-size: 25px;
  }
}
.trigger {
  display: block;
  width: 50px;
  cursor: pointer;
  span {
    width: 50px;
  }
}
.MainContent {
  &__header {
    margin: 8px 0 0 24px;
    padding: 24px 0;
    color: rgb(22, 45, 108);
    font-size: 24px;
    font-weight: bold;
  }
  &__content {
    margin-left: 24px !important;
    padding: 24 !important;
    background: white !important;
    min-height: 60vh !important;
  }
  &__footer {
    text-align: center;
    background: rgb(246, 249, 255) !important;
    font-weight: bold;
    color: rgb(22, 45, 108) !important;
  }
}
