.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--blue);
  &__title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(13, 41, 113);
    margin-bottom: 20px;
  }
  &Form {
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    &__header {
      text-align: center;
      margin: 20px 0;
      &__title {
        font-size: 18px;
        font-weight: bold;
        color: rgb(13, 41, 113);
      }
    }
  }
}
