.class_manage {
  padding: 24px;
  &__main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__button {
    border: none;
    color: white;
    padding: 12px 28px;
    border-radius: 16px;
    span {
      margin-right: 5px;
    }
    margin-bottom: 12px;
    cursor: pointer;
    &__add {
      background-color: #4caf50;
    }
    &__edit {
      background-color: #044d91;
    }
    &__delete {
      background-color: #eb5757;
    }
  }
  &__container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: calc(100% / 3 - 40px);
    border-radius: 8px;
    // display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  &__left {
    &__container {
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }
  }
  &__item {
    margin: 10px 0;
    &__title {
      font-weight: 600;
      margin-right: 5px;
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
  &__right {
    margin-top: 20px;
  }
  &__action {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
}
